[submodule "wordpress-nginx"]
	path = nginx
	url = git@github.com:mwaeckerlin/wordpress-nginx.git
[submodule "wordpress-php-fpm"]
	path = php-fpm
	url = git@github.com:mwaeckerlin/wordpress-php-fpm.git
