services:
  wordpress-nginx:
    extends:
      file: ./wordpress-nginx/docker-compose.yml
      service: wordpress-nginx
    environment:
      PHP_FPM_HOST: wordpress-php-fpm
    volumes:
      - wp-content:/app/wp-content
    profiles:
      - build
      - up
    networks:
      - php-network

  wordpress-php-fpm:
    extends:
      file: ./wordpress-php-fpm/docker-compose.yml
      service: wordpress-php-fpm
    environment:
      WORDPRESS_DB_HOST: wordpress-db
    volumes:
      - wp-content:/app/wp-content
      - wp-secrets:/app/wp-secrets
    profiles:
      - build
      - up
    networks:
      - php-network
      - db-network

  wordpress-db:
    image: mariadb
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_RANDOM_ROOT_PASSWORD: yes
    volumes:
      - db-data:/var/lib/mysql
    profiles:
      - up
    networks:
      - db-network

  wp-content-fix:
    image: mwaeckerlin/very-base
    command:
      - /bin/sh
      - -c
      - |
        $${ALLOW_USER} /app
        sleep infinity
    volumes:
      - wp-content:/app/wp-content
      - wp-secrets:/app/wp-secrets
    profiles:
      - up
    
volumes:
  db-data:
  wp-secrets:
  wp-content:

networks:
  php-network:
    driver_opts:
      encrypted: 1
  db-network:
    driver_opts:
      encrypted: 1
