version: "3.8"

services:
  wordpress-nginx:
    extends:
      file: ./wordpress-nginx/docker-compose.yml
      service: wordpress-nginx
    environment:
      PHP_FPM_HOST: wordpress-php-fpm
    profiles:
      - build
      - up

  wordpress-php-fpm:
    extends:
      file: ./wordpress-php-fpm/docker-compose.yml
      service: wordpress-php-fpm
    profiles:
      - build
      - up

  mysql:
    image: mariadb
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: change-me
    volumes:
      - db-data:/var/lib/mysql
    profiles:
      - up

volumes:
  db-data: {}
